<ol class="breadcrumb">
	<li><a href="/convention/index">LepreCon!!</a></li>
	<li class="active">Documents</li>
</ol>

<div class="container">
	<div class="row">
		
		<%# Convention document list %>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Documents</h4></div>
				<table class="table">
					<tbody>
						<tr><td><a>LepreCon!! Schedule</a></td></tr>
						<tr><td><a>Shamrock Shaun Picture</a></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<%# Document upload form %>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Document Upload</h4></div>
				<div class="panel-body">
					<form id="convention-document-upload">
						
						<input type="text" placeholder="Display Name">
						<textarea placeholder="Description"></textarea>
						<input type="file">
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
