<ol class="breadcrumb">
	<li><a href="/convention/index">LepreCon!!</a></li>
	<li class="active">Events</li>
</ol>

<div class="container">
	<div class="row-fluid">
		
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h3>How to Search for Gold</h3></div>
				<div class="panel-body">
					<p>Host: Rainbow Hunter Denise</p>
					<p>Description: A tutorial on how to find a pot of gold at the end of a rainbow. Given by a seasoned Rainbow Professional with almost 40 pots under her belt.</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading"><h3>How to Search for Gold</h3></div>
				<div class="panel-body">
					<p>Host: Shamrock Shaun</p>
					<p>Description: A tutorial on how to hide a pot of gold at the end of a rainbow. Given by a seasoned Pot-of-gold-hiding Professional with no recorded lost pots to date.</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Eye of Argon</h3></div>
				<div class="panel-body">
					<p>Host: Kyle Samson</p>
					<p>Description: Kyle has erroneously decided to run an Eye or Argon panel. Wrong convention buddy.</p>
				</div>
			</div>
		</div>
		
	</div>
</div>
