<div class="container-fluid">
	
	<div class="row">
		<div class="col-xs-12 page-header home-banner">
			<h1>LepreCon!!</h1>
		</div>
	</div>
	
	<div class="row-fluid">
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><a href="/convention/details">Details</a></h4></div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><a href="#">Organizers</a></h4></div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><a href="/convention/events">Events</a></h4></div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><a href="/convention/schedule">Schedule(s)</a></h4></div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading"><h4><a href="/convention/documents">Documents</a></h4></div>
			</div>
		</div>
		
	</div>
	
</div>
