<ol class="breadcrumb">
	<li><a href="/convention/index">LepreCon!!</a></li>
	<li class="active">Schedule</li>
</ol>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form class="form-inline">
				<div class="form-group">
					<label for="max-schedules">Number of schedules to generate: </label>
					<input type="number" min="1" value="5">
				</div>
				<button type="submit" class="btn btn-default">Generate Schedules</button>
			</form>
		</div>
	</div>
</div>
