<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 page-header home-banner">
			<h1>Con Planner 75</h1>
		</div>
	</div>

	<div class="row">

		<%# Convention List %>
		<div class="col-xs-8">
			<div class="panel panel-primary">

				<div class="panel-heading"><h4>Matching Conventions</h4></div>
				<table class="table">
					<tbody>
						<% @conventions.each do |c| %>
						<tr><td><a href="/convention/<%= c.name %>/index"><%= c.name %></a> <%= c.description %></td></tr>
						<% end %>
					</tbody>
				</table>

			</div>
		</div>

		<%# Convention Search Box %>
		<div class="col-xs-4">
			<form action="/convention/search">
				<div class="input-group">
					<input id="search-term" name="search_term" class="form-control" type="text" placeholder="Search Cons...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go!</button>
					</span>
				</div>
		  </form>
		</div>

	</div>
</div>
