// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-banner {
	/* 
	 * width: 100%;
	 * padding: 10px 0px;
	 * */
	background-color: #33cc33;
	margin-top: 10px;
	color: #ffcc00;
	
	h2 {
		text-align: center;
	}
}
